NODE_ENV=development
APP_ENV=local

PORT=3000

CLIENT_ORIGINS=http://localhost:5173

COOKIE_SECRET=cookie-secret
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
SESSION_TTL_DAYS=7

MONGO_URI=mongodb://localhost:27017/callover-db
REDIS_URL=redis://localhost:6380

SWAGGER_ENABLED=true